#password_extension{
  width: 350px;
  padding: 0 20px 20px;
  box-sizing: border-box;
  font: 14px/1.5 arial,verdana,tahoma;
}
h1{
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#input_password{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px #ccc solid;
  padding: 0 10px;
  height: 36px;
}
#input_tamano{
  display: block;
  border: 1px #ccc solid;
  padding: 0 5px;
  height: 26px;
  margin-right: 15px;
  width: 60px;
  outline: none;
  display: inline-block;
  text-align: center;
}
#generar{
  padding: 20px 0;
}
#generar button{
  display: inline-block;
  padding: 0 10px;
  background: #036;
  height: 26px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  width: 150px;
}
#options{
  display: flex;
  flex-wrap: wrap;
}
#options label{
  width: 50%;
}

#options label.full{
  width: 100%;
}

#options label strong{
  font-weight: normal;
  color: #f02;
}
hr{
  width: 100%;
  border: none;
  border-top: 1px #ccc solid
}
